body {
      background-color: #5a5475;
      color: white;
}

.responsive {
  width: 100%;
  height: auto;
}

.content {
  width: 100%;
  height: auto;
  font-family: 'Roboto', sans-serif;
}

.info {
  line-height: 1.6;
  text-align: justify;
  text-justify: inter-word;
  font-size: 1em;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 15%;
  padding-right: 15%;
}

h1 {
  color: #d8af86;
  text-align: left;
}

h2 {
  color: #d8af86;
  text-align: left;
}

h3 {
  color: #d8af86;
  text-align: left;
}

h5 {
  color: #d8af86;
  text-align: left;
}

.yellow {
  color: #d8af86;
  text-align: left;
}

.hotpink {
  color:hotpink;
}

.white {
  color:white;
}

.code {
  color:#c2ffdf;
  font-family: monospace;
  font-size: 1.2em;
}

.pink {
  color:#ffb8d1;
  font-weight:bold;
}


hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

pre {
  overflow-x: scroll;
  background-color: white;
  color:#262626;
  font-size: 1.2em;
  line-height: 1.3em;
}

.footer {
    text-align: “center”;
    height: 35px;
    list-style-type:none;
    font-family: monospace;
    font-size: 1.1em;
    color: hotpink !important;
    padding-bottom: 50px;
}

a {
  color: #e87c64;
  text-decoration: none;
}

a:hover {
  color: #c6a3ff;
}

ul {
  line-height: 20px;
}
